{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h1 class="text-center">Register</h1>

    <div class="row d-flex justify-content-center">
        <form method="post" class="form" action="{% url 'register_user' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form user_form %}
            {% bootstrap_form profile_form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <p></p>
                <p>
                    or <a class="button" href="{% url 'login_user' %}">Login</a>
                </p>
            {% endbuttons %}
        </form>
    </div>

{% endblock %}